<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Quiz - finisher!</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        {% for i in ranking %}
            {% if i[2] == username %}
                <p><b>User {{ i[2] }} has {{ i[0] }} correct attempts and {{ i[1] }} wrong attempts.</b></p>
            {% else %}
            <p>User {{ i[2] }} has {{ i[0] }} correct attempts and {{ i[1] }} wrong attempts.</p>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>