<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Quiz</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<p>Hi {{ u_name }}, here is your question.</p>
<form method="post" action="/questions">
    <input type="hidden" name="question_username" value="{{ u_name }}">
    <input type="hidden" name="question" value="{{ question }}">
    <input type="hidden" name="seed" value="{{ seed }}">
    <p>{{ question_text }}</p>
    <input type="radio" name="answer" id="option1" value="{{ option1 }}">
    <label for="option1">{{ option1 }}</label><br/><br/>
    <input type="radio" name="answer" id="option2" value="{{ option2 }}">
    <label for="option2">{{ option2 }}</label><br/><br/>
    <input type="radio" name="answer" id="option3" value="{{ option3 }}">
    <label for="option3">{{ option3 }}</label><br/><br/>
    <input type="radio" name="answer" id="option4" value="{{ option4 }}">
    <label for="option4">{{ option4 }}</label><br/><br/>
    <input type="submit">
</form>
<p>Wrong answer! Try again.</p>
</body>
</html>