<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Quiz</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post" action="/confirm">
        Put in a username: <br/>
        <input name="login_username">
        <input type="submit">
    </form>
    <p>How does this work?</p>
    <p>There is no login, enter a username and check if the username has attempted any questions before.</p>
    <p>When you return to this web page, use the same username.</p>
</body>
</html>