<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Muli&family=Work+Sans&display=swap" rel="stylesheet">
    <title>MCQ Quiz</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="top">
        <a id="home" href="/">Home</a>
        <a id="leaderboard" href="/leaderboard">Leaderboard</a>
    </div>
    <div id="content">
        <p>Hi {{ u_name }}, here is your question.</p>
        <form method="post" action="/questions">
            <input type="hidden" name="question_username" value="{{ u_name }}">
            <input type="hidden" name="question" value="{{ question }}">
            <p id="question">{{ question_text }}</p>
            <input type="radio" name="answer" id="option1" value="{{ option1 }}" required>
            <label for="option1">{{ option1 }}</label><br/><br/>
            <input type="radio" name="answer" id="option2" value="{{ option2 }}">
            <label for="option2">{{ option2 }}</label><br/><br/>
            <input type="radio" name="answer" id="option3" value="{{ option3 }}">
            <label for="option3">{{ option3 }}</label><br/><br/>
            <input type="radio" name="answer" id="option4" value="{{ option4 }}">
            <label for="option4">{{ option4 }}</label><br/><br/>
            <input type="submit">
        </form>
        {% if error %}
            <p>huh, some error occurred. try again.</p>
        {% endif %}
    </div>
</body>
</html>